 body
             {
          
                background-color: peachpuff;
                border-left: 10px dashed lightcoral;
                border-right:10px dashed lightcoral;
              }
              .box
              {
               background-color: lightcoral  ;
               
                 padding:20px;
        
              }
          .a
            {
                 color: rgb(8, 59, 155);
                 text-align: center;
                 font-style:oblique;
     
            }
          .b
          {
               font-size: larger;
               text-align: center;

          }
          .c
          {
               font-size: 40px;
               text-align: center;
               color: rgb(21, 57, 126);
          }
